apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-html
  namespace: demo
data:
  index.html: |
    <html>
      <body>
        <h1>Hello from Pavan & ANitha new...........!!!!<h1>
      </body>
    </html>